<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weihua.race.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.weihua.race.domain.vo.UserVO">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="roleId" column="role_id" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="gender" column="gender" jdbcType="VARCHAR"/>
        <result property="weight" column="weight" jdbcType="NUMERIC"/>
        <result property="height" column="height" jdbcType="NUMERIC"/>
        <result property="athlete" column="is_athlete" jdbcType="BOOLEAN"/>
        <result property="unitId" column="unit_id" jdbcType="VARCHAR"/>
        <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
        <result property="unitName" column="unit_name" jdbcType="VARCHAR"/>
        <result property="state" column="state" jdbcType="NUMERIC"/>
    </resultMap>

    <resultMap id="ResultMap" type="com.weihua.race.domain.entity.User">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="unitId" column="unit_id" jdbcType="VARCHAR"/>
        <result property="roleId" column="role_id" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="gender" column="gender" jdbcType="VARCHAR"/>
        <result property="weight" column="weight" jdbcType="NUMERIC"/>
        <result property="height" column="height" jdbcType="NUMERIC"/>
        <result property="athlete" column="is_athlete" jdbcType="BOOLEAN"/>
        <result property="state" column="state" jdbcType="NUMERIC"/>
    </resultMap>

    <sql id="Base_Column_List">
        u.id, u.user_id, u.role_id,u.unit_id, u.username, u.password, u.salt, u.phone, u.name, u.nickname, u.age, u.gender, u.weight, u.height, u.is_athlete
    </sql>

    <sql id="view_List">
        u.id, u.user_id, u.role_id, u.unit_id,u.username, u.password, u.salt, u.phone, u.name, u.nickname, u.age, u.gender, u.weight, u.height, u.is_athlete
        ,r.name as role_name, un.name as unit_name
    </sql>

    <select id="getByUsername" resultMap="ResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user AS u
        WHERE
        username = #{username,jdbcType=VARCHAR}
    </select>

    <select id="list" resultMap="BaseResultMap">
        SELECT
        <include refid="view_List"/>
        FROM user as u
        join role as r on u.role_id = r.role_id
        join unit as un on u.unit_id = un.unit_id
        <where>
            <if test="id != null and id != ''">
                AND u.id = #{id,jdbcType=INTEGER}
            </if>
            <if test="userId != null and userId != ''">
                AND u.user_id = #{userId,jdbcType=VARCHAR}
            </if>
            <if test="roleId != null and roleId != ''">
                AND u.role_id = #{roleId,jdbcType=VARCHAR}
            </if>
            <if test="unitId != null and unitId != ''">
                AND u.unit_id = #{unitId,jdbcType=VARCHAR}
            </if>
            <if test="username != null and username != ''">
                AND u.username = #{username,jdbcType=VARCHAR}
            </if>
            <if test="password != null and password != ''">
                AND u.password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="salt != null and salt != ''">
                AND u.salt = #{salt,jdbcType=VARCHAR}
            </if>
            <if test="phone != null and phone != ''">
                AND u.phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="name != null and name != ''">
                AND u.name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="nickname != null and nickname != ''">
                AND u.nickname = #{nickname,jdbcType=VARCHAR}
            </if>
            <if test="age != null and age != ''">
                AND u.age = #{age,jdbcType=INTEGER}
            </if>
            <if test="gender != null and gender != ''">
                AND u.gender = #{gender,jdbcType=VARCHAR}
            </if>
            <if test="weight != null and weight != ''">
                AND u.weight = #{weight,jdbcType=NUMERIC}
            </if>
            <if test="height != null and height != ''">
                AND u.height = #{height,jdbcType=NUMERIC}
            </if>
            <if test="athlete != null and athlete != ''">
                AND u.is_athlete = #{athlete,jdbcType=BOOLEAN}
            </if>
        </where>
    </select>

    <insert id="add" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="roleId != null">role_id,</if>
            <if test="unitId != null">unit_id,</if>
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="salt != null">salt,</if>
            <if test="phone != null">phone,</if>
            <if test="name != null">name,</if>
            <if test="nickname != null">nickname,</if>
            <if test="age != null">age,</if>
            <if test="gender != null">gender,</if>
            <if test="weight != null">weight,</if>
            <if test="height != null">height,</if>
            <if test="athlete != null">is_athlete,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=VARCHAR},
            </if>
            <if test="unitId != null">
                #{unitId,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="salt != null">
                #{salt,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=VARCHAR},
            </if>
            <if test="weight != null">
                #{weight,jdbcType=NUMERIC},
            </if>
            <if test="height != null">
                #{height,jdbcType=NUMERIC},
            </if>
            <if test="athlete != null">
                #{athlete,jdbcType=BOOLEAN},
            </if>
        </trim>
    </insert>

    <update id="update">
        UPDATE user
        <set>
            <if test="userId != null and userId != ''">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null and roleId != ''">
                role_id = #{roleId,jdbcType=VARCHAR},
            </if>
            <if test="unitId != null and unitId != ''">
                unit_id = #{unitId,jdbcType=VARCHAR},
            </if>
            <if test="username != null and username != ''">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="salt != null and salt != ''">
                salt = #{salt,jdbcType=VARCHAR},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="name != null and name != ''">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="gender != null and gender != ''">
                gender = #{gender,jdbcType=VARCHAR},
            </if>
            <if test="weight != null">
                weight = #{weight,jdbcType=NUMERIC},
            </if>
            <if test="height != null">
                height = #{height,jdbcType=NUMERIC},
            </if>
            <if test="athlete != null">
                is_athlete = #{isAthlete,jdbcType=BOOLEAN},
            </if>
        </set>
        WHERE user_id = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="deleteById">
        DELETE
        FROM user
        WHERE user_id = #{id,jdbcType=VARCHAR}
    </delete>

</mapper>

