<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weihua.race.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.weihua.race.domain.vo.UserVO">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="roleId" column="role_id" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="salt" column="salt" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="gender" column="gender" jdbcType="VARCHAR"/>
        <result property="weight" column="weight" jdbcType="NUMERIC"/>
        <result property="height" column="height" jdbcType="NUMERIC"/>
        <result property="athlete" column="is_athlete" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, role_id, username, password, salt, phone, name, nickname, age, gender, weight, height, is_athlete
    </sql>

    <select id="list" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        <where>
            <if test="id != null and id != ''">
                AND id = #{id,jdbcType=INTEGER}
            </if>
            <if test="userId != null and userId != ''">
                AND user_id = #{userId,jdbcType=VARCHAR}
            </if>
            <if test="roleId != null and roleId != ''">
                AND role_id = #{roleId,jdbcType=VARCHAR}
            </if>
            <if test="username != null and username != ''">
                AND username = #{username,jdbcType=VARCHAR}
            </if>
            <if test="password != null and password != ''">
                AND password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="salt != null and salt != ''">
                AND salt = #{salt,jdbcType=VARCHAR}
            </if>
            <if test="phone != null and phone != ''">
                AND phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="name != null and name != ''">
                AND name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="nickname != null and nickname != ''">
                AND nickname = #{nickname,jdbcType=VARCHAR}
            </if>
            <if test="age != null and age != ''">
                AND age = #{age,jdbcType=INTEGER}
            </if>
            <if test="gender != null and gender != ''">
                AND gender = #{gender,jdbcType=VARCHAR}
            </if>
            <if test="weight != null and weight != ''">
                AND weight = #{weight,jdbcType=NUMERIC}
            </if>
            <if test="height != null and height != ''">
                AND height = #{height,jdbcType=NUMERIC}
            </if>
            <if test="athlete != null and athlete != ''">
                AND is_athlete = #{athlete,jdbcType=BOOLEAN}
            </if>
        </where>
    </select>

    <insert id="add" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="roleId != null">role_id,</if>
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="salt != null">salt,</if>
            <if test="phone != null">phone,</if>
            <if test="name != null">name,</if>
            <if test="nickname != null">nickname,</if>
            <if test="age != null">age,</if>
            <if test="gender != null">gender,</if>
            <if test="weight != null">weight,</if>
            <if test="height != null">height,</if>
            <if test="athlete != null">is_athlete,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
           <if test="id != null">
               #{id,jdbcType=INTEGER},
           </if>
           <if test="userId != null">
               #{userId,jdbcType=VARCHAR},
           </if>
           <if test="roleId != null">
               #{roleId,jdbcType=VARCHAR},
           </if>
           <if test="username != null">
               #{username,jdbcType=VARCHAR},
           </if>
           <if test="password != null">
               #{password,jdbcType=VARCHAR},
           </if>
           <if test="salt != null">
               #{salt,jdbcType=VARCHAR},
           </if>
           <if test="phone != null">
               #{phone,jdbcType=VARCHAR},
           </if>
           <if test="name != null">
               #{name,jdbcType=VARCHAR},
           </if>
           <if test="nickname != null">
               #{nickname,jdbcType=VARCHAR},
           </if>
           <if test="age != null">
               #{age,jdbcType=INTEGER},
           </if>
           <if test="gender != null">
               #{gender,jdbcType=VARCHAR},
           </if>
           <if test="weight != null">
               #{weight,jdbcType=NUMERIC},
           </if>
           <if test="height != null">
               #{height,jdbcType=NUMERIC},
           </if>
           <if test="athlete != null">
               #{athlete,jdbcType=BOOLEAN},
           </if>
        </trim>
    </insert>

    <update id="update">
        UPDATE user
        <set>
            <if test="userId != null and userId != ''">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null and roleId != ''">
                role_id = #{roleId,jdbcType=VARCHAR},
            </if>
            <if test="username != null and username != ''">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="salt != null and salt != ''">
                salt = #{salt,jdbcType=VARCHAR},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="name != null and name != ''">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="gender != null and gender != ''">
                gender = #{gender,jdbcType=VARCHAR},
            </if>
            <if test="weight != null">
                weight = #{weight,jdbcType=NUMERIC},
            </if>
            <if test="height != null">
                height = #{height,jdbcType=NUMERIC},
            </if>
            <if test="athlete != null">
                is_athlete = #{isAthlete,jdbcType=BOOLEAN},
            </if>
        </set>
        WHERE user_id = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="deleteById">
        DELETE
        FROM user
        WHERE user_id = #{id,jdbcType=VARCHAR}
    </delete>

</mapper>

